form {
	margin: 20px;
	font-family: 'Festive', cursive;
	font-size: 16px;
}
 
.name {
	width: 300px;
	height: 25px;
	margin: 10px 10px 5px 0px;
	border-radius: 10px;
	border: 1px solid rgb(240, 229, 229);
}

.name:hover {
 border: 1px solid #aaa;
}

.password {
	width: 300px;
	height: 25px;
	margin: 10px 10px 5px 0px;
	border-radius: 10px;
	border: 1px solid rgb(240, 229, 229);
}

.password:hover {
	border: 1px solid #aaa;
   }

textarea {
	min-width: 200px;
	min-height: 40px;
	max-width: 350px;
	max-height: 150px;
	border-radius: 10px;
	border: 1px solid rgb(240, 229, 229);
}

textarea:hover {
	border: 1px solid #aaa;
}

button {
	font-size: 14px;
	height: 30px;
	width: 150px;
	border-radius: 10px;
	border: 1px solid rgb(240, 229, 229);
	margin: 30px 10px 10px 20px;

}

button:hover {
	border: 1px solid #aaa;
}